<div *ngIf="!isLoggedIn(); then show_login else show_files;"></div>
<ng-template #show_login>
    <button class="btn-primary" (click)="signIn()">Sign In</button>
</ng-template>
<ng-template #show_files>
    <div *ngIf="!!isLoading; then show_loading else show_result;"></div>
    <ng-template #show_loading>
        <i class="fas fa-spinner"></i>
    </ng-template>
    <ng-template #show_result>
        <div class="row">
            <div class="col-6">
                <perfect-scrollbar style="max-height: 400px;">
                    <ngx-treeview [config]="config" [items]="driveFiles" (selectedChange)="onSelectedDriveChange($event)">
                    </ngx-treeview>
                </perfect-scrollbar>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" type="submit" (click)="addToRemote()">
                    <i class="far fa-arrow-alt-circle-right"></i>
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button class="btn btn-primary" type="submit" (click)="addToDrive()">
                    <i class="far fa-arrow-alt-circle-left"></i>
                    <i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
            <div class="col-5">
                <perfect-scrollbar style="max-height: 400px;">
                    <ngx-treeview [config]="config" [items]="remoteFiles" (selectedChange)="onSelectedRemoteChange($event)">
                    </ngx-treeview>
                </perfect-scrollbar>
            </div>
        </div>
    </ng-template>
</ng-template>