button.btn.btn-primary {
    width: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.col-5 {
    margin-top: 20px;
}

i.fa-arrow-alt-circle-up,
i.fa-arrow-alt-circle-down {
    display: none;
}

i.fa-arrow-alt-circle-left,
i.fa-arrow-alt-circle-right {
    display: block;
}

@media screen and (max-width: 768px) {
    i.fa-arrow-alt-circle-up,
    i.fa-arrow-alt-circle-down {
        display: block;
    }

    i.fa-arrow-alt-circle-left,
    i.fa-arrow-alt-circle-right {
        display: none;
    }
}